<form method="post" action="/students">
    <label for="first-name">First Name:</label>
    <input id="first-name" type="text" name="first_name"/>

    <label for="last-name">Last Name:</label>
    <input id="last-name" type="text" name="last_name"/>

    <label for="house">House:</label>
    <select id="house-select" name="house">
        <option value="Gryffindor">Gryffindor</option>
        <option value="Slytherin">Slytherin</option>
        <option value="Hufflepuff">Hufflepuff</option>
        <option value="Ravenclaw">Ravenclaw</option>
    </select>

    <label for ="age">Age:</label>
    <input id="age" type="number" name="age"/>

    <input type="submit" value="Add student"/>
</form>